#img2,#img21,#img22,#img23{
    transition: .5s ease-out;
}
#img2:hover{
    transform: scale(1.10);

}
#arrow{
    width: 10px;
}


#toggle{
    font-size: 14px;
}
#input{
    position: relative;
}
#lens{
    position: absolute;
}
#hh{
    color: white;
}
#img{
    margin-top: 50px;
}
#img21:hover{ 
    transform: scale(1.10);
}
#img22:hover{
    transform: scale(1.10);}
#img23:hover{
    transform: scale(1.10);}
@media (max-width: 400px) {
    #img21{
        padding-left: 80px;
    }
    #img22{
        padding-left: 50px;
    }
    #img22{
        padding-right:5px ;git
    }

}